
@{
    ViewBag.Title = Utilities.Translate("Quality");
}
<link href="@Url.Content("~/Content/css/quality.css")" rel="stylesheet">
<div class="container">
    <div class="row">
        @if (Utilities.languageIsActive().ToUpper() == "VI")
        {
            <img class="img-responsive" src="@Url.Content("~/Content/images/photos/Quality.png")" />
        }
        else
        {
            <img class="img-responsive" src="@Url.Content("~/Content/images/photos/QualityEN.png")" />
        }
    </div>
</div>