
@{
    ViewBag.Title = Utilities.Translate("Quality");
}
<link href="@Url.Content("~/Content/css/quality.css")" rel="stylesheet">
<div class="container">
    <div class="row">
        <img class="img-responsive" src="@Url.Content("~/Content/images/photos/Quality.png")" />
    </div>
</div>