
@{
    ViewBag.Title = Utilities.Translate("VisionAndMission"); ;
}
<link href="@Url.Content("~/Content/css/vision_mission.css")" rel="stylesheet">
<div class="container">
    <div class="row">
        <img class="img-responsive" src="@Url.Content("~/Content/images/photos/VisionAndMission.png")" />
    </div>
</div>