
@{
    ViewBag.Title = Utilities.Translate("VisionAndMission"); ;
}
<link href="@Url.Content("~/Content/css/vision_mission.css")" rel="stylesheet">
<div class="container">
    <div class="row">
        @if(Utilities.languageIsActive().ToUpper() == "VI")
        {
            <img class="img-responsive" src="@Url.Content("~/Content/images/photos/VisionAndMission.png")" />
        }
        else
        {
            <img class="img-responsive" src="@Url.Content("~/Content/images/photos/VisionAndMissionEN.png")" />
        }
    </div>
</div>