
@{
    ViewBag.Title = Utilities.Translate("VisionAndMission"); ;
}

<div class="container">
    <div class="row">
        <img class="img-responsive" src="@Url.Content("~/Content/images/photos/VisionAndMission.png")" />
    </div>
</div>