Tvita.DAL/bin/Release/Tvita.DAL.dll.config
Tvita.DAL/bin/Release/EntityFramework.xml
Tvita.DAL/bin/Release/EntityFramework.SqlServer.xml
Tvita.DAL/bin/Debug/Tvita.DAL.dll.config
Tvita.DAL/bin/Debug/EntityFramework.xml
Tvita.DAL/bin/Debug/EntityFramework.SqlServer.xml
Tvita.BAL/obj/Release/Tvita.BAL.csproj.FileListAbsolute.txt
Tvita.BAL/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Tvita.BAL/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Tvita.BAL/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Tvita.BAL/obj/Debug/Tvita.BAL.csproj.FileListAbsolute.txt
Tvita.BAL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Tvita.BAL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Tvita.BAL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Tvita.BAL/bin/Release/EntityFramework.xml
Tvita.BAL/bin/Debug/EntityFramework.xml
Tvita.DAL/obj/Release/edmxResourcesToEmbed/TvitaDB.ssdl
Tvita.DAL/obj/Release/edmxResourcesToEmbed/TvitaDB.msl
Tvita.DAL/obj/Release/edmxResourcesToEmbed/TvitaDB.csdl
Tvita.DAL/obj/Release/Tvita.DAL.csproj.FileListAbsolute.txt
Tvita.DAL/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Tvita.DAL/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Tvita.DAL/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Tvita.DAL/obj/Debug/edmxResourcesToEmbed/TvitaDB.ssdl
Tvita.DAL/obj/Debug/edmxResourcesToEmbed/TvitaDB.msl
Tvita.DAL/obj/Debug/edmxResourcesToEmbed/TvitaDB.csdl
Tvita.DAL/obj/Debug/Tvita.DAL.csproj.FileListAbsolute.txt
Tvita.DAL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Tvita.DAL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Tvita.DAL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Tvita.Model/obj/Release/Tvita.Model.csproj.FileListAbsolute.txt
Tvita.Model/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Tvita.Model/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Tvita.Model/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Tvita.Model/obj/Debug/Tvita.Model.csproj.FileListAbsolute.txt
Tvita.Model/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Tvita.Model/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Tvita.Model/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Tvita.Model/bin/Release/Tvita.Model.dll.config
Tvita.Model/bin/Release/EntityFramework.xml
Tvita.Model/bin/Release/EntityFramework.SqlServer.xml
Tvita.Model/bin/Debug/Tvita.Model.dll.config
Tvita.Model/bin/Debug/EntityFramework.xml
Tvita.Model/bin/Debug/EntityFramework.SqlServer.xml
Tvita_Test/bin/System.Web.WebPages.xml
Tvita_Test/bin/System.Web.WebPages.Razor.xml
Tvita_Test/bin/System.Web.WebPages.Deployment.xml
Tvita_Test/bin/System.Web.Razor.xml
Tvita_Test/bin/System.Web.Optimization.xml
Tvita_Test/bin/System.Web.Mvc.xml
Tvita_Test/bin/System.Web.Helpers.xml
Tvita_Test/bin/Newtonsoft.Json.xml
Tvita_Test/bin/Microsoft.Owin.xml
Tvita_Test/bin/Microsoft.Owin.Security.xml
Tvita_Test/bin/Microsoft.Owin.Security.Twitter.xml
Tvita_Test/bin/Microsoft.Owin.Security.OAuth.xml
Tvita_Test/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
Tvita_Test/bin/Microsoft.Owin.Security.Google.xml
Tvita_Test/bin/Microsoft.Owin.Security.Facebook.xml
Tvita_Test/bin/Microsoft.Owin.Security.Cookies.xml
Tvita_Test/bin/Microsoft.Owin.Host.SystemWeb.xml
Tvita_Test/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
Tvita_Test/bin/Microsoft.AspNet.Identity.Owin.xml
Tvita_Test/bin/Microsoft.AspNet.Identity.EntityFramework.xml
Tvita_Test/bin/Microsoft.AspNet.Identity.Core.xml
Tvita_Test/bin/Microsoft.ApplicationInsights.xml
Tvita_Test/bin/Microsoft.AI.WindowsServer.xml
Tvita_Test/bin/Microsoft.AI.Web.xml
Tvita_Test/bin/Microsoft.AI.ServerTelemetryChannel.xml
Tvita_Test/bin/Microsoft.AI.DependencyCollector.xml
Tvita_Test/bin/EntityFramework.xml
Tvita_Test/bin/EntityFramework.SqlServer.xml
Tvita_Test/bin/ApplicationInsights.config
Tvita_Test/bin/roslyn/VBCSCompiler.exe.config
Tvita_Test/bin/roslyn/Microsoft.VisualBasic.Core.targets
Tvita_Test/bin/roslyn/Microsoft.CSharp.Core.targets
Tvita_Test/bin/Tvita_Test.dll.config
Tvita_Test/obj/Release/TransformWebConfig/transformed/Web.config
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/morrisjs/morris.min.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/morrisjs/morris.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/morrisjs/morris.css
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/metisMenu/metisMenu.min.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/metisMenu/metisMenu.min.css
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/metisMenu/metisMenu.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/metisMenu/metisMenu.css
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/jquery/jquery.min.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/jquery/jquery.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/scss/font-awesome.scss
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/scss/_variables.scss
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/scss/_stacked.scss
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/scss/_spinning.scss
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/scss/_screen-reader.scss
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/scss/_rotated-flipped.scss
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/scss/_path.scss
Tvita_Test/obj/Release/TransformWebConfig/original/Web.config
Tvita_Test/obj/Release/TransformWebConfig/assist/Web.config
Tvita_Test/obj/Release/Package/PackageTmp/fonts/glyphicons-halflings-regular.woff
Tvita_Test/obj/Release/Package/PackageTmp/fonts/glyphicons-halflings-regular.ttf
Tvita_Test/obj/Release/Package/PackageTmp/fonts/glyphicons-halflings-regular.svg
Tvita_Test/obj/Release/Package/PackageTmp/fonts/glyphicons-halflings-regular.eot
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/scss/_mixins.scss
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/scss/_list.scss
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/scss/_larger.scss
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/scss/_icons.scss
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/scss/_fixed-width.scss
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/scss/_extras.scss
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/scss/_core.scss
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/scss/_bordered-pulled.scss
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/scss/_animated.scss
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/less/variables.less
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/less/stacked.less
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/less/spinning.less
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/less/screen-reader.less
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/less/rotated-flipped.less
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/less/path.less
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/less/mixins.less
Tvita_Test/obj/Release/Package/PackageTmp/Scripts/jquery.validate.min.js
Tvita_Test/obj/Release/Package/PackageTmp/Scripts/jquery.validate.js
Tvita_Test/obj/Release/Package/PackageTmp/Scripts/jquery-1.10.2.min.map
Tvita_Test/obj/Release/Package/PackageTmp/Scripts/jquery-1.10.2.min.js
Tvita_Test/obj/Release/Package/PackageTmp/Scripts/jquery-1.10.2.js
Tvita_Test/obj/Release/Package/PackageTmp/Scripts/bootstrap.min.js
Tvita_Test/obj/Release/Package/PackageTmp/Scripts/bootstrap.js
Tvita_Test/obj/Release/Package/PackageTmp/Scripts/ai.0.22.9-build00167.min.js
Tvita_Test/obj/Release/Package/PackageTmp/Scripts/ai.0.22.9-build00167.js
Tvita_Test/obj/Release/Package/PackageTmp/Scripts/_references.js
Tvita_Test/obj/Release/Package/PackageTmp/Content/bootstrap.min.css
Tvita_Test/obj/Release/Package/PackageTmp/Content/bootstrap.css
Tvita_Test/obj/Release/Package/PackageTmp/Content/Site.css
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/raphael/raphael.min.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/raphael/raphael.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/css/font-awesome.css.map
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/css/font-awesome.css
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/HELP-US-OUT.txt
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/flot/jquery.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/flot/jquery.flot.time.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/flot/jquery.flot.threshold.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/flot/jquery.flot.symbol.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/flot/jquery.flot.stack.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/flot/jquery.flot.selection.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/flot/jquery.flot.resize.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/flot/jquery.flot.pie.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/flot/jquery.flot.navigate.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/flot/jquery.flot.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/flot/jquery.flot.image.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/flot/jquery.flot.fillbetween.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/flot/jquery.flot.errorbars.js
Tvita_Test/obj/Release/Package/PackageTmp/bin/roslyn/VBCSCompiler.exe.config
Tvita_Test/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.VisualBasic.Core.targets
Tvita_Test/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CSharp.Core.targets
Tvita_Test/obj/Release/Package/PackageTmp/bin/ApplicationInsights.config
Tvita_Test/obj/Release/Package/PackageTmp/Views/_ViewStart.cshtml
Tvita_Test/obj/Release/Package/PackageTmp/Views/Web.config
Tvita_Test/obj/Release/Package/PackageTmp/Views/Shared/_Layout.cshtml
Tvita_Test/obj/Release/Package/PackageTmp/Views/Home/Index.cshtml
Tvita_Test/obj/Release/Package/PackageTmp/Views/Home/Contact.cshtml
Tvita_Test/obj/Release/Package/PackageTmp/Views/Home/About.cshtml
Tvita_Test/obj/Release/Package/PackageTmp/Scripts/respond.min.js
Tvita_Test/obj/Release/Package/PackageTmp/Scripts/respond.js
Tvita_Test/obj/Release/Package/PackageTmp/Scripts/modernizr-2.6.2.js
Tvita_Test/obj/Release/Package/PackageTmp/Scripts/jquery.validate.unobtrusive.min.js
Tvita_Test/obj/Release/Package/PackageTmp/Scripts/jquery.validate.unobtrusive.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/less/list.less
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/less/larger.less
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/less/icons.less
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/less/font-awesome.less
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/less/fixed-width.less
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/less/extras.less
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/less/core.less
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/less/bordered-pulled.less
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/less/animated.less
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/fonts/fontawesome-webfont.woff2
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/fonts/fontawesome-webfont.woff
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/fonts/fontawesome-webfont.ttf
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/fonts/fontawesome-webfont.svg
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/fonts/fontawesome-webfont.eot
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/fonts/FontAwesome.otf
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/font-awesome/css/font-awesome.min.css
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/flot/jquery.flot.crosshair.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/flot/jquery.flot.categories.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/flot/jquery.flot.canvas.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/flot/jquery.colorhelpers.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/flot/excanvas.min.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/flot/excanvas.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/flot-tooltip/jquery.flot.tooltip.source.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/flot-tooltip/jquery.flot.tooltip.min.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/flot-tooltip/jquery.flot.tooltip.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/js/jquery.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/js/jquery.dataTables.min.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/js/jquery.dataTables.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/js/dataTables.uikit.min.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/js/dataTables.uikit.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/js/dataTables.semanticui.min.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/js/dataTables.semanticui.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/js/dataTables.material.min.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/js/dataTables.material.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/js/dataTables.jqueryui.min.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/js/dataTables.jqueryui.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/js/dataTables.foundation.min.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/js/dataTables.foundation.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/js/dataTables.bootstrap4.min.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/js/dataTables.bootstrap4.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/js/dataTables.bootstrap.min.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/js/dataTables.bootstrap.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/images/sort_desc_disabled.png
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/images/sort_desc.png
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/images/sort_both.png
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/images/sort_asc_disabled.png
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/images/sort_asc.png
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/images/favicon.ico
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/images/Sorting icons.psd
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/css/jquery.dataTables_themeroller.css
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/css/jquery.dataTables.min.css
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/css/jquery.dataTables.css
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/css/dataTables.uikit.min.css
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables-responsive/dataTables.responsive.scss
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables-responsive/dataTables.responsive.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables-responsive/dataTables.responsive.css
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables-plugins/index.html
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables-plugins/dataTables.bootstrap.min.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables-plugins/dataTables.bootstrap.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables-plugins/dataTables.bootstrap.css
Tvita_Test/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Tvita_Test/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Tvita_Test/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Tvita_Test/obj/Release/Package/PackageTmp/packages.config
Tvita_Test/obj/Release/Package/PackageTmp/favicon.ico
Tvita_Test/obj/Release/Package/PackageTmp/Web.config
Tvita_Test/obj/Release/Package/PackageTmp/Global.asax
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/dist/css/sb-admin-2.css
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/data/morris-data.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/data/flot-data.js
Tvita_Test/obj/Release/Package/PackageTmp/Areas/Admin/Views/web.config
Tvita_Test/obj/Release/Package/PackageTmp/Areas/Admin/Views/_ViewStart.cshtml
Tvita_Test/obj/Release/Package/PackageTmp/Areas/Admin/Views/Shared/_Layout.cshtml
Tvita_Test/obj/Release/Package/PackageTmp/Areas/Admin/Views/Home/Index.cshtml
Tvita_Test/obj/Release/Package/PackageTmp/Areas/Admin/Content/AdminSite.css
Tvita_Test/obj/Release/Package/PackageTmp/ApplicationInsights.config
Tvita_Test/obj/Release/Package/FilePreviewParameter.xml
Tvita_Test/obj/Release/AutoScripts/Tvita_TestEntities_IncrementalSchemaOnly.dacpac
Tvita_Test/obj/Debug/__TestProfilesForFilePreview__/Tvita_Test.pubxml
Tvita_Test/obj/Debug/Tvita_Test.csproj.FileListAbsolute.txt
Tvita_Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Tvita_Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Tvita_Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Tvita_Test/obj/Release/_WPPLastBuildInfo.txt
Tvita_Test/obj/Release/Tvita_Test.csproj.FileListAbsolute.txt
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/bootstrap/fonts/glyphicons-halflings-regular.woff
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/bootstrap/fonts/glyphicons-halflings-regular.ttf
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/bootstrap/fonts/glyphicons-halflings-regular.svg
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/bootstrap/fonts/glyphicons-halflings-regular.eot
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/bootstrap/css/bootstrap.min.css
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/bootstrap/css/bootstrap.css
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/bootstrap-social/bootstrap-social.scss
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/bootstrap-social/bootstrap-social.less
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/bootstrap-social/bootstrap-social.css
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/less/variables.less
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/less/sb-admin-2.less
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/less/mixins.less
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/js/sb-admin-2.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/dist/js/sb-admin-2.min.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/dist/js/sb-admin-2.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/dist/css/sb-admin-2.min.css
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/css/dataTables.uikit.css
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/css/dataTables.semanticui.min.css
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/css/dataTables.semanticui.css
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/css/dataTables.material.min.css
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/css/dataTables.material.css
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/css/dataTables.jqueryui.min.css
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/css/dataTables.jqueryui.css
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/css/dataTables.foundation.min.css
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/css/dataTables.foundation.css
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/css/dataTables.bootstrap4.min.css
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/css/dataTables.bootstrap4.css
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/css/dataTables.bootstrap.min.css
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/datatables/css/dataTables.bootstrap.css
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/bootstrap/js/bootstrap.min.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/bootstrap/js/bootstrap.js
Tvita_Test/obj/Release/Package/PackageTmp/Assets/admin/vendor/bootstrap/fonts/glyphicons-halflings-regular.woff2
