@font-face {
    font-family: "VLAMPLESOFT";
    src: url('./../tvita_font/VLAMPLESOFT-THIN.OTF');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "VLAMPLESOFT";
    src: url('./../tvita_font/VLAMPLESOFT-LIGHT.OTF');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "VLAMPLESOFT";
    src: url('./../tvita_font/VLAMPLESOFT.OTF');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "VLAMPLESOFT";
    src: url('./../tvita_font/VLAMPLESOFT-MEDIUM.OTF');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "VLAMPLESOFT";
    src: url('./../tvita_font/VLAMPLESOFTBOLD-BOLD.OTF');
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: 'VLAMPLESOFT', 'Arial', 'sans-serif', 'serif';
}

iframe{
    border: none;
}