/*.slide-show-container {
    min-height: 300px;
}*/

.ss-caption-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ss-content {
    background-color: #FFFFFF;
    color: #333;
    border-left: 14px solid #498F22;
    padding-left: 30px;
    opacity: .9;
    font-size: 20px;
    line-height: initial;
    float: right;
    position: relative;
    padding-right: 10px;
}

.ss-caption-container > div {
    height: 100%;
}

.ss-content {
    padding-bottom: 25px;
}

.btn-view-more {
    color: #fff;
    background-color: #498F22;
    text-decoration: none;
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

    .btn-view-more:hover,
    .btn-view-more:active,
    .btn-view-more:focus {
        text-decoration: none;
        color: #fff;
    }

.view-more {
    position: relative;
}

.ss-content {
    padding-top: 25px;
    top: calc(100% - 145px - 50px);
    text-align: justify;
    /*max-height: 168px;*/
    overflow: hidden;
}

    .ss-content > p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
    }

.ss-title {
    font-size: 25px;
}

.btn-view-more {
    width: 114px;
    height: 32px;
}

.breadcrumb {
    height: 110px;
    line-height: 100px;
    margin-bottom: 0;
    background-color: transparent;
    color: #808080;
    font-size: 22px;
}

    .breadcrumb a {
        color: #808080;
    }


.load-more-container {
    text-align: center;
}

.js-load-more {
    background-image: url(./../images/icons/plus-circle.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-color: transparent;
    height: 74px;
    margin-bottom: 75px;
    border: none;
    width: 116px;
    box-shadow: none;
    font-size: 13.23px;
    padding: 0;
    color: #72be44;
    padding-top: 53px;
}

    .js-load-more:hover,
    .js-load-more:focus,
    .js-load-more:active {
        background-color: transparent;
        color: #72be44;
        background-image: url(./../images/icons/plus-circle.png);
        outline: none;
    }

@media (min-width: 1919px) {
    .slide-show-container {
        height: 600px;
    }

    .ss-content {
        width: 660px;
        height: 145px;
        padding-top: 25px;
        padding-bottom: 120px;
        top: calc(100% - 145px - 50px);
        overflow: initial;
    }

    .view-more {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }

    .ss-title {
        color: #fff;
        font-size: 47.5px;
        position: absolute;
        top: -110px;
        text-transform: uppercase;
    }

        .ss-title label {
            display: inline-block;
            max-width: 100%;
            margin-bottom: 5px;
            font-weight: initial;
            margin-left: -30px;
            text-align: left;
            height: 110px;
        }

    .ss-content > p {
        -webkit-line-clamp: 3;
    }
}
