nav.navbar {
    margin: 0;
    background-color: #72BE44;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:active, .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active {
    color: #fff;
}

.navbar-header {
    margin-top: 8px;
}

.navbar-collapse {
    margin-top: 20px;
}

.navbar-default .navbar-nav > li > a {
    height: 79px;
    font-size: 20.35px;
    text-transform: uppercase;
    text-align: center;
}

.navbar-default .navbar-nav > .active > a {
    background-color: #57a826;
    color: #fff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #69b23d;
    color: #fff;
}

.span-separate {
    background-color: transparent;
    border: none;
    color: transparent;
    box-shadow: none;
}

.span-separate-line {
    border: none;
    width: 0;
    border-radius: 0 !important;
    padding: 0;
    background-color: transparent;
}

    .span-separate-line::after {
        content: " ";
        /*background-color: #754C24;*/
        display: block;
        border-right: 0 solid;
    }


.navbar-form span.input-group-addon {
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

.navbar-form span.span-separate + .input-group-addon {
    border-radius: 4px 0 0 4px;
}

.btn-control-language {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
    line-height: 21px;
}

    .btn-control-language:not(.active) {
        color: #754C24;
        font-weight: 400;
        line-height: 20px;
    }

.navbar-collapse.collapse {
    display: none !important;
}

nav.navbar {
    height: 50px;
}

.navbar-brand > img {
    height: 40px;
}

.navbar-header {
    margin: 0;
}

.navbar-brand {
    padding-top: 5px;
}

.navbar-toggle {
    float: left;
    margin-top: 4px;
    height: 40px;
    width: 40px;
    color: #fff;
    border-radius: 0;
    font-size: 22px;
    padding-top: 8px;
    display: block;
    margin-left: 5px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

@media (min-width:991px) {
    .nav-subtitle {
        display: block;
        font-size: 16.35px;
        margin-top: 8px;
    }
}

@media (min-width:1279px) {
    body {
        padding-top: 100px;
    }

    .navbar-collapse.collapse {
        display: block !important;
    }

    .navbar-header {
        margin-top: 8px;
    }

    nav.navbar {
        height: 100px;
    }

    .navbar-brand {
        padding-top: 15px;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-brand > img {
        height: initial;
    }
}

@media (min-width:1919px) {

    .navbar-left {
        display: table;
    }

        .navbar-left > li {
            display: table-cell;
        }
}

.nav .open .dropdown-menu {
    background-color: #754C24;
    /* opacity: .8; */
    border-bottom-left-radius: 19.75px;
    border-bottom-right-radius: 19.5px;
}

    .nav .open .dropdown-menu > li > a {
        line-height: 60px;
        min-width: 230px;
        color: #fff;
        font-size: 18.35px;
        font-weight: lighter;
    }

.navbar .nav.navbar-nav > li a {
    font-size: 20.35px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #8a5c2f;
    outline: none;
}

.nav .open .dropdown-menu > li:last-child {
    padding-bottom: 10px;
}

.nav .open .dropdown-menu li.divider {
    border: none;
    padding-left: 20px;
    padding-right: 1%;
    background-color: transparent;
    margin: 0;
}

    .nav .open .dropdown-menu li.divider::after {
        content: " ";
        background-color: #603813;
        width: calc(100% - 40px);
        height: 0;
        border-bottom: 1px solid #603813;
        position: absolute;
    }

.navbar-default .navbar-nav > .active > a:hover {
    background-color: #619f3b;
    color: #fff;
}
