<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="Tvita_TestEntities" connectionString="metadata=res://*/TvitaDB.csdl|res://*/TvitaDB.ssdl|res://*/TvitaDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=112.78.2.118,1433;Initial Catalog=tvit7068_TestDB11;persist security info=True;user id=tvit7068_thangdv;password=Tvita@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Tvita_TestEntities" connectionString="metadata=res://*/TvitaDB.csdl|res://*/TvitaDB.ssdl|res://*/TvitaDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TOM\SQLEXPRESS;initial catalog=tvit7068_TestDB11;persist security info=True;user id=sa;password=Tvita@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>