<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Tvita_TestEntities" connectionString="metadata=res://*/TvitaDB.csdl|res://*/TvitaDB.ssdl|res://*/TvitaDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-ATGF8FN\SQLEXPRESS;initial catalog=tvit7068_TestDB11;persist security info=True;user id=sa;password=Thang1234);MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>