@font-face {
    font-family: "VLAMPLESOFT";
    src: url('./tvita_font/VLAMPLESOFT-THIN.OTF');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "VLAMPLESOFT";
    src: url('./tvita_font/VLAMPLESOFT-LIGHT.OTF');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "VLAMPLESOFT";
    src: url('./tvita_font/VLAMPLESOFT.OTF');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "VLAMPLESOFT";
    src: url('./tvita_font/VLAMPLESOFT-MEDIUM.OTF');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "VLAMPLESOFT";
    src: url('./tvita_font/VLAMPLESOFTBOLD-BOLD.OTF');
    font-weight: 600;
    font-style: normal;
}

body {
    padding-top: 100px;
    font-family: 'VLAMPLESOFT', 'Arial', 'sans-serif', 'serif';
    color: #333;
    overflow-x: hidden;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}




.footer-bottom {
    background-color: #478D19;
    background-image: url(./images/footer/leaves.png);
    background-repeat: no-repeat;
    height: 205px;
    background-position: 380px -104px;
}



    .footer-bottom .social-container .social-link-container {
        text-align: center;
        padding-top: 40px;
    }

        .footer-bottom .social-container .social-link-container .social-link {
            display: inline-block;
            width: 37px;
            height: 37px;
            background-image: url(./images/footer/social-icon.png);
            background-repeat: no-repeat;
        }

.facebook-icon {
    background-position: 0 0;
}

.youtube-icon {
    background-position: -50px 0;
}

.gplus-icon {
    background-position: -100px 0;
}

.footer-bottom .social-container .social-link-container .social-link:not(:first-child) {
    margin-left: 12px;
}

.footer-bottom .social-container .social-text {
    text-transform: uppercase;
    font-size: 13.23px;
    color: #ccc;
    text-align: center;
    padding-top: 4px;
}

.footer-bottom .address {
    color: #ccc;
    text-align: center;
    margin-top: 20px;
}

.footer-bottom .copyright {
    color: #ccc;
    text-align: center;
}

a.btn-more-info {
    display: inline-block;
    background-image: url(./images/icons/plus-circle-small.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 30px;
    min-height: 20px;
    line-height: 20px;
    color: #ccc;
    float: right;
}

/****************/

.hot-news {
    margin: 5px 0;
    background-color: #754C24;
    height: 42px;
    line-height: 42px;
    font-size: 20.35px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}


.twm-content {
    height: 300px;
}

.talk-with-me {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99;
    /*display: none;*/
}

.twm-title {
    height: 52px;
    line-height: 52px;
    padding-left: 52px;
    font-size: 20px;
    background-color: #478D19;
    border-top-left-radius: 25px;
    background-image: url(./images/icons/chat.png);
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: center;
    cursor: pointer;
    color: #fff;
}

.twm-content {
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    background-color: #fff;
    display: none;
    overflow-y: auto;
}

.twm-input {
    display: none;
}

    .twm-input > .input-group,
    .twm-input > .input-group input,
    .twm-input > .input-group .handle-send,
    .twm-input > .input-group .handle-name {
        border-radius: 0;
        outline: none;
        border-color: #ccc;
        box-shadow: none;
    }

        .twm-input > .input-group input:focus,
        .twm-input > .input-group input:active {
            outline: none;
        }

        .twm-input > .input-group .handle-send, .twm-input > .input-group .handle-name {
            color: #333;
        }

.talk-with-me.open .twm-content,
.talk-with-me.open .twm-input {
    display: block;
}

    .talk-with-me.open .twm-content #discussion {
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        color: #333;
        list-style: none;
    }

        .talk-with-me.open .twm-content #discussion li {
            text-align: left;
            max-width: calc(100% -15px);
        }

            .talk-with-me.open .twm-content #discussion li .m-content {
                display: block;
                margin-top: 5px;
                margin-bottom: 5px;
                text-align: left;
                margin-left: 15px;
            }

                .talk-with-me.open .twm-content #discussion li .m-content > span {
                    padding: 5px;
                    border: 1px solid #754c24;
                    border-radius: 5px;
                    color: #fff;
                    background-color: #754c24;
                    display: inline-block;
                }

            .talk-with-me.open .twm-content #discussion li.me .m-content > span {
                border: 1px solid #478D19;
                border-radius: 5px;
                color: #fff;
                background-color: #478D19;
            }



.related-list-item ul {
    list-style: none;
    padding-left: 0;
    column-count: 2;
}

    .related-list-item ul li.list-group-item {
        margin-bottom: 10px;
    }

        .related-list-item ul li.list-group-item a {
            color: #808080;
        }

        .related-list-item ul li.list-group-item i {
            margin-right: 10px;
            font-size: 18px;
            color: #808080;
            margin-left: 20px;
            opacity: .2;
        }

.related-articles .panel-group {
    margin: 0;
}

    .related-articles .panel-group .panel {
        margin: 0;
        border-radius: 0;
        border: 0;
        background-color: transparent;
        box-shadow: none;
    }

.related-articles .panel-default > .panel-heading {
    color: #333;
    background-color: transparent;
    border: none;
}

.related-articles .panel-group .panel-heading + .panel-collapse > .list-group {
    border-bottom: 0;
}

.related-articles .panel-default > .panel-heading .panel-title {
    font-size: 23px;
    color: #4E9D2D;
    text-decoration: none;
}

    .related-articles .panel-default > .panel-heading .panel-title [data-toggle="collapse"].collapsed .fa-angle-double-down,
    .related-articles .panel-default > .panel-heading .panel-title [data-toggle="collapse"]:not(.collapsed) .fa-angle-double-right {
        display: none;
    }

    .related-articles .panel-default > .panel-heading .panel-title a:hover, .related-articles .panel-default > .panel-heading .panel-title a:active, .related-articles .panel-default > .panel-heading .panel-title a:focus {
        text-decoration: none;
    }

.related-articles .panel-default .list-group-item {
    margin: 0;
    border: 0;
    padding: 0 0 10px 50px;
}


@media (min-width: 640px) {
    .container {
        width: calc(100vw - 40px);
    }
}

@media (min-width: 768px) {
    .container {
        width: calc(100vw - 40px);
    }

    .talk-with-me {
        display: block;
    }

    .talk-with-me {
        width: 300px;
    }
}

@media (min-width: 991px) {
    .container {
        width: calc(100vw - 40px);
    }

    .twm-content {
        height: 380px;
    }

    .footer-top {
        display: block;
    }
}

@media (min-width: 1200px) {
    .container {
        width: calc(100vw - 40px);
    }
}


@media (min-width: 1919px) {
    .container {
        width: calc(100vw - 640px);
    }
}



*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 0px;
}

*::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
    border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#4D9C41), to(#19911D), color-stop(.6, #54DE5D));
}


.breadcrumb-item.active {
    font-weight: 520;
}

.js-load-more[disabled] {
    cursor: not-allowed;
    opacity: .5;
    background-color: transparent;
}

body.modal-open #page-content, body.modal-open #slide-nav, body.modal-open .talk-with-me {
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}

/*.modal-backdrop {background: #f7f7f7;}*/

.modal-content {
    /*border-top-left-radius: 45px;*/
    /*border-bottom-right-radius: 45px;*/
    border-bottom-color: #72BE44;
    color: #333;
    background-color: #F2F2F2;
}

.modal-header {
    border-bottom: 1px solid #764c29;
    background-color: #764c29;
    color: #fff;
    padding-top: 0;
}

.modal-footer {
    border-top: 1px solid #478D19;
}

.modal-title {
    padding-top: 15px;
}

.modal-header .close {
    width: 35px;
    background-color: red;
    margin-top: 0;
    outline: none;
    height: 26px;
    opacity: .7;
    color: #fff;
}

    .modal-header .close:hover, .modal-header .close:focus {
        opacity: 1;
    }

#hot-news-content a {
    color: inherit;
    margin-right: 30px;
}


.footer-top {
    background-image: url(./images/footer/footer-bg.png);
    background-repeat: no-repeat;
    /*height: 390px; 1920*/
    height: 200px;
    line-height: initial;
    background-size: inherit;
    padding-top: 50px;
    /*background-size: cover;*/
}

    .footer-top *:not(a) {
        color: #ccc;
    }

.ttgroup {
    background-image: url(./images/footer/t&t-group-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 60px;
}

    .ttgroup .about {
        text-align: justify;
        margin-top: 80px;
        display: none;
    }

.about-title {
    font-size: 18.28px;
    text-transform: uppercase;
}

.ttgroup .about .short-content {
    font-size: 13.23px;
    font-weight: 400;
}

.tvita .menu-list {
    display: none;
    margin-top: 80px;
}

    .tvita .menu-list ul {
        list-style: none;
        padding-left: 0;
    }

        .tvita .menu-list ul li {
            margin-bottom: 8px;
        }

        .tvita .menu-list ul a {
            color: #8CC63F;
            background-repeat: no-repeat;
            background-image: url(./images/icons/caret-right.png);
            background-position-y: center;
            background-position-x: 13px;
            padding-left: 30px;
        }

.tvita {
    background-image: url(./images/footer/tvita-logo-footer.png);
    background-repeat: no-repeat;
    min-height: 60px;
    background-position: center;
}

.ttgroup {
    background-size: 180px auto;
}

.col-lg-20 {
    width: 20%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}




.n-cover img {
    width: 100%;
    background-size: cover;
    background-position-y: center;
}

.n-content {
    background-color: #F2F2F2;
    color: #4E9D2D;
    font-size: 25px;
    padding: 10px;
}

.n-detail-content {
    background-color: #F2F2F2;
}

.n-view-more {
    background-color: #CCCCCC;
    text-align: right;
    color: #4E9D2D;
    font-size: 20px;
    height: 37px;
    line-height: 37px;
    padding-right: 30px;
}

    .n-view-more a {
        color: #4E9D2D;
    }

.n-item {
    margin-bottom: 45px;
}

.n-item {
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}


.n-detail-content {
    font-size: 20px;
    color: #333;
    padding: 10px;
}



@media (min-width:376px) {
    .ttgroup {
        background-size: 200px auto;
    }
}

@media (min-width:415px) {
    .ttgroup {
        background-size: inherit;
    }
}

@media (min-width:1365px) {
    .footer-top {
        height: 390px;
    }

    .ttgroup {
        background-position-x: 15px;
        background-position-y: 0;
    }

        .ttgroup .about {
            display: block;
        }


    .tvita {
        background-position-x: 15px;
        background-position-y: 0;
    }

        .tvita .menu-list {
            display: block;
        }
}

@media (min-width:1919px) {
    .f-row {
        width: calc(100vw - 640px);
        margin-left: 320px;
    }

    .ttgroup .about {
        padding-left: 66px;
    }

    .n-content {
        font-size: 32px;
        padding: 10px 30px;
    }

    .n-detail-content {
        padding: 10px 30px;
    }

    .n-item:hover {
        transform: scale(1.005);
        margin-top: -10px;
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    }
}

.gap-group {
    background: #eee;
    margin: 10px auto;
    position: relative;
    text-align: center;
}

    .gap-group .block {
        background: transparent;
        height: 100px;
        max-width: 160px;
        min-height: 160px;
        display: inline-block;
        margin: 10px;
    }

        .gap-group .block img {
            width: 100%;
            max-width: 160px;
        }

.container-fluid.gap-group {
    width: 100%;
    margin: 0;
}


.product-item {
    margin-top: 60px;
}

    .product-item:hover > .product-item-cover > img {
        transform: scale(1.1);
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    }

.product-item-cover {
    text-align: center;
}

.product-item img {
    width: 100%;
    max-width: 300px;
    background-size: cover;
    background-position-y: center;
    border-radius: 50%;
    border: 8px solid #ccc;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.product-item-content {
    color: #808080;
    font-size: 28.16px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 40px;
}

@media(min-width: 991px) {
    .gap-group {
        display: table;
    }

        .gap-group .block {
            display: table-cell;
        }
}

@media(min-width: 1919px) {
    .gap-group .block img {
        max-width: 180px;
    }

    .container-fluid.gap-group {
        padding: 15px;
    }
}
