
@{
    ViewBag.Title = "Nông trường";
}

<link href="@Url.Content("~/Content/css/farm.css")" rel="stylesheet">

<div class="container" id="img-container">
    <div class="row">
        <canvas id="farm_map"></canvas>
        <img src="@Url.Content("~/Content/images/photos/farm.png")" class="farm-map" />
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/tvita/farm.js")" type="text/javascript"></script>
}
