
@{
    ViewBag.Title = Utilities.Translate("Value");
}

<link href="@Url.Content("~/Content/css/value.css")" rel="stylesheet">

<div class="container">
    <div class="row">
        @if (Utilities.languageIsActive().ToUpper() == "VI")
        {
            <img class="img-responsive" src="@Url.Content("~/Content/images/photos/value_page.png")" />
        }
        else
        {
            <img class="img-responsive" src="@Url.Content("~/Content/images/photos/value_pageEN.png")" />
        }
        
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/tvita/value.js")" type="text/javascript"></script>
}
