
@{
    ViewBag.Title = "Chuỗi giá trị";
}

<link href="@Url.Content("~/Content/css/value.css")" rel="stylesheet">

<div class="container">
    <div class="row">
        <img src="@Url.Content("~/Content/images/photos/value_page.png")"/>
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/tvita/value.js")" type="text/javascript"></script>
}
